[project]
	description = A guide for styling your node.js / JavaScript code. Fork & adjust to your taste.
[access "refs/*"]
	owner = group user/Kelly Campbell (kellyc)
[access "refs/for/refs/*"]
	read = group user/Kelly Campbell (kellyc)
	push = group user/Kelly Campbell (kellyc)
	label-Code-Review = -2..+2 group user/Kelly Campbell (kellyc)
	label-Verified = -1..+1 group user/Kelly Campbell (kellyc)
	rebase = group user/Kelly Campbell (kellyc)
	removeReviewer = group user/Kelly Campbell (kellyc)
	submit = group user/Kelly Campbell (kellyc)
[access "refs/heads/*"]
	read = group user/Kelly Campbell (kellyc)
	create = group user/Kelly Campbell (kellyc)
	push = +force group user/Kelly Campbell (kellyc)
	pushMerge = group user/Kelly Campbell (kellyc)
[access "refs/tags/*"]
	push = +force group user/Kelly Campbell (kellyc)
	pushTag = group user/Kelly Campbell (kellyc)
	pushSignedTag = group user/Kelly Campbell (kellyc)
